.pie{
    display: flex;
    height:8vh;
    width: 100%;
    background-color: #30475e!important;
    justify-content: space-evenly;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    position: absolute;
    bottom: -1;
}
.iconos {
    color: #ececec;
    position: relative;  
    margin-top: 16px;  
}
.iconos:hover{
    color: #c1a57b !important;
}
.bolt{
    margin-top: 16px;
    
   }
   .bolt:hover{
     color: #c1a57b;
   }